<section class="container center">
  <div *ngIf="comics$; else loading">
    <mat-card class="mat-elevation-z9 item">
        <mat-card *ngFor="let c of comics$" class="example-card mat-elevation-z5">
          <mat-card-header>
            <mat-card-title>{{c.title}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{c.thumbnail.path + '.' + c.thumbnail.extension}}" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              {{c.description ? ( c.description | slice:0:100 ) : 'Without description' }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <!-- <button mat-raised-button color="primary" routerLink="details">Mais detalhes...</button> -->
          </mat-card-actions>
        </mat-card>
    </mat-card>
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</section>


