<mat-sidenav-container class="container">

  <mat-sidenav #drawer class="sidenav" mode="side" fixedInViewport="true">
    <span>
      <a>
        <img src="https://t.ctcdn.com.br/Iyf-_zqRFQG3D84RfWVHRUL4dgU=/512x288/smart/i886.jpeg" alt="logo">
      </a>
    </span>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="home" (click)="drawer.toggle()">Inicio</a>
      <a mat-list-item routerLink="characters" (click)="drawer.toggle()">Personagens</a>
      <a mat-list-item routerLink="comics" (click)="drawer.toggle()">Quadrinhos</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="header" color="primary">
      <mat-icon aria-label="Side nav toggle icon" (click)="drawer.toggle()">menu</mat-icon>
      <span routerLink="home">ARANHAVERSO</span>
    </mat-toolbar>
      <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>

</mat-sidenav-container>
