.footer {
  position: fixed;
  bottom: 0;

  justify-content: left;
}

span {
  font-family: Arial, Helvetica, sans-serif;
}

.footer > span {
  font-size: 1rem;
}

img {
  padding-top: 7px;
  max-width:100px;
  max-height:50px;
}
