.content {
  padding: 15px;
}

.example-card {
  max-width: 200px;
  vertical-align: bottom;
  height: 450px;
}

.example-header-image {
  background-size: cover;
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
}

mat-card-header mat-card-title {
  font-size: 16px;
  height: 50px;
}

mat-card {
  margin: 10px;
  display: inline-block;
}

mat-card img {
  max-height:200px;
}

.loading-spinner {
  padding: 25px;
  display: flex;
  padding-top: 185px;
  align-items: center;
  justify-content: center;
}

.container {
	margin: 0 auto;
	display: flex;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.center {
	justify-content: center;
  // align-items: center;
  align-items: stretch;
}

.item {
	margin: 5px;
	padding: 0 10px;
	text-align: center;
	font-size: 1.5em;
}

mat-raised-button {
  bottom: 0;
}

