
section {
	height: 100vh;
  background-image: url('https://i.pinimg.com/originals/bc/35/70/bc3570011c9d166f7a2b39d921f2a4f6.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

div {
  position: flex;
  font-family: arial, helvetica, sans-serif;
  font: 'Kalam', cursive;
  text-align: center;
  color: white;
  padding-top: 50vh;
}

@keyframes neon {
  from {
    filter: drop-shadow(0 0 0 var(--cor-neon));
  }
  to {
    filter: drop-shadow(0 0 50px var(--cor-neon));
  }
}

div {
  animation: neon 1s alternate infinite ease-in-out;
  --cor-neon: #fff;
}

